= link_to File.join(@last_url, "#{link['url']}", "#{target.permalink}") do
  = image_tag target.image
  .info
    = truncate(raw(t(link['label'], :name => target.name)), :length => 32)
    - if target.respond_to? :sub_data
      .sub= raw(t('sub_' + link['label'].to_s, target.sub_data))
  .clear
.chat-link
  = link_to File.join(@last_url, "#{link['url']}", "#{target.permalink}", "/chat") do
    = image_tag 'im.png'

