.box
  .box_content
    #searchbar
      = form_tag '' do
        = text_field_tag :search, '', :placeholder => "LIKE..."
    %ul#suggestions
      - LINKS.each do |key, link|
        - if link["origin"] == @last
          - for elem in @origin.send(link['assoc'].underscore.pluralize).where('kind', link['kind']).order("random()").limit(link['number'])
            - target = elem.send(link['target'].downcase)
            %li
              = link_to @last_url + "#{link['url']}/#{target.permalink}" do
                = image_tag target.image
                = raw(t(link['label'], :name => target.name))



