!!! 5
%html
  %head
    %title Hack Day Paris
    = stylesheet_link_tag :all
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
    = csrf_meta_tag

  %body
    #rightcol
      .box_content
        #login
          - if @user
            = @user.name
            = image_tag @user.image, :class => "user"
            = link_to "http://last.fm/user/" + @user.name, :target => "blank" do
              = image_tag "lastfm.png"
          - else
            = link_to "/sessions/new", "Login"
          .clear
        %ul#notifications
          %li You can Join a chat about Lady Gaga
          %li You can Join a chat about EDC
    %h2 FIND PEOPLE WHO...
    = yield  
    
